/* 初始化 E */
html,body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td,img{
    margin: 0;
    padding: 0;
}

body {
    font-family: Microsoft Yahei,Tahoma,Arial,Hiragino Sans GB,Helvetica,Verdana,"\5b8b\4f53";
    /*color: #595757;*/
    min-width: 1200px;
    font-size: 16px;
}

td, th, caption {
    font-size: 14px;
    text-align: left;
    padding-left: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

a {
    text-decoration: none;
}
s,em,i{
    font-style: normal;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

img {
    border: none;
    vertical-align:middle;
}

ol, ul, li {
    list-style: none;
}
button{
    cursor:pointer;
}
input, textarea, select, button,textarea{
    outline: none;
    border: none;
    background: transparent;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    resize: none;
    font-family: Microsoft Yahei;
}
select::-ms-expand{
    display: none;
}
table {
    border-collapse: collapse;
}
.mt30{
    margin-top: 30px;
}
.mt60{
    margin-top: 100px;
}
.pt30{
    padding-top: 30px;
}
.font45{
    font-size: 45px;
}



.index{
    width: 100%;
    min-width: 1200px;
    min-height: 948px;
    background-color: #4f4f59;
    font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
}
.title{
    text-align:center ;
    font-size: 28px;
    color: aliceblue;
}
.index-dh{
    padding-left: 20%;
    margin-top: 20px;
    font-size: 22px;
    color: #3c8847;

}
.index-dh li{
    width: 15%;
    float: left;
}
.index-dh li a{
    color: #fffcd0;
}
.index-dh li a:hover{
    color: #ff5374;
    border-style:solid;
    border-color: #ff5374;
}
.index-tj{
    margin-top: 100px;
    margin-left: 30px;
    font-size: 32px;
    font-family: "Agency FB";
    color: aliceblue;
}

.index-img-bigbox{
    margin-left: 100px;
    margin-right: 100px;
}

.index-img-box{
    float: left;
    border: solid 1px white;
    font-size: 20px;
    color: white;
    margin-left:50px;
    margin-top: 30px;;
    height:260px;
    width: 200px;
}

.index-img{
    height: 220px;
    width: 200px;
}